body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  z-index: -5555;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/tvBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  height: 80vh;
  width: 100%;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  border: 2px solid yellow;

}
.tv-wrapper {
  height: 80vh;
  width: calc(80vh * 1.497);
  border: 2px solid violet;
  display: flex;
  justify-content: flex-end;
  background-image: url("../img/tvFrame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.videoFrame {
  display: flex;
  border: 2px solid coral;
  max-height: 100%;
  flex-grow: 1;
  padding: 2%;
  padding-bottom: 6%;
}

#videoFrame {
  display: block;
  max-height: 100%;
  min-width: 100%;
  z-index: -50;
  pointer-events: none;
}

#background {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -55;
  background-color: black;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22.5%;
  border: 1px solid red;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  margin: 10px;
}

button:focus {
  outline: 0;
}

button:hover:enabled {
  color: red;
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}
