.tv {
  height: 500px;
  width: 700px;
  background-image: url('../img/tvFrame.png');
  background-position: center;
  background-size: cover;
  border: 1px solid red;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/tvBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.buttonsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: min-content
}
.buttonsContainer button{
  margin: 10px;
  
}
button{
  background-color:black;
  color:white;
  font-weight: bold;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}

button:hover{
  color:gold;
}